<div class="container">

  <div class="container">

    <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
  </div>

  <div class="container">
    <app-mon-formulaire-de-publication></app-mon-formulaire-de-publication>
  </div>


  <div class="container">

      <div class="row">
        <div class="col-xs-12 ">
          <ul class="list-group">

            <app-ma-publication></app-ma-publication>
            <app-ma-publication></app-ma-publication>
            <app-ma-publication></app-ma-publication>

          </ul>
        </div>
      </div>
    </div>


</div>