<div class="container">
<li class="list-group-item" >


  <div class="container"  >
    <div class="row">
      <div class="col-sm-11">
        <h1  align-middle>
          Ma publication : {{ publicationName }}
        </h1>
      </div>
      <div class="col-sm-1">
        <p>
          {{ publicationDate | date: 'short' }}
        </p>
      </div>
    </div>
  </div>



  <p>
    {{ publicationText }}
  </p>

  <button class="btn btn-success" (click)="onLike()">
    J'aime
  </button>

  <button class="btn btn-danger" (click)="onDislike()">
    Je n'aime pas
  </button>
</li></div>
